
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbody1 {
    display: block;
}
body {
    background-color: #FBF0F4;
    
}
.logo {
    margin-top: 30px;
    margin-left: 50px;
    
}
.logo a {
    text-decoration: none;
    color: #612717;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 700px;
    margin-top: -20px;
    width: auto;
    /* position: fixed;
    z-index: 100; */

}
.navbar a {
    color:#612717;
    text-decoration: none;
    font-size: 18px;
    margin-top: -8px;
    border-radius: 10px;
}
.navbar a:hover{
    color: #FBF0F4;
    background-color: #612717;
    padding: 10px;
}
.lg{
    display: none;
}

.navvy {
    margin-top: -20px;
    height: 2.8em; 
}
.firsttext{
    text-align: center;
    font-size: 4em;
    color: #612717;
}
.body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    gap: 100px;
    margin-top: 100px;
   
    
}
.image1{
    background-image: url(IMG_0952.jpeg);
    background-position: 0px 5%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    border-radius: 10px;
}
.image2{
    background-image: url(IMG_0949.jpeg);
    background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    border-radius: 10px;
}
.image3{
    background-image: url(IMG_0950.jpg);
    background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    border-radius: 10px;
}
.image4{
    background-image: url(IMG_0766\ \(1\).jpg);
    background-position: 0px 0px;
   background-size: cover;
   background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    border-radius: 10px;
}
.imagetext{
    text-align: center;
    color: #612717;
    font-size: 3em;
}
.secondtext{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: #612717;
}

.b1 {

    margin-top: 30px;
    height: 3em;
    border-radius: 10px;
    width: 200px;
    background-color: #612717;
    color: #FBF0F4;
    border: none;
    margin-left: 100px;
}
.foot {
    background-color: #612717;
    color: #FBF0F4;
    font-size: 1em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
}

@media only screen and (max-width:991px){
    .logo {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 0.9em;
        padding-top: 15px;
        
    }
  
    .navbar a {
       display: none;
    
    }
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: 5px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        color: white;
        background-color: #FBF0F4;
        z-index: 1;
        width: 60em;
        height: 25em;
        margin-left: -835px;
        border-radius: 10px;
    
      
    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 850px;
        margin-top: -50px;

        
        
    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 50px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 2em;
    }
   .body-container {
    max-width: 91%;
   }
  
}

@media only screen and (max-width:768px){
   
    
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: 13px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        color: white;
        background-color: #FBF0F4;
        z-index: 1;
        width: 46.5em;
        height: 20em;
        margin-left: -647px;
        border-radius: 10px;
    
      
    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 650px;
        margin-top: -50px;

        
        
    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 40px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 1.5em;
    }
    .body-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 78%;
    }
    .firsttext{
        font-size: 2em;
        margin-top: 50px;
        text-align: center;
    }
    .image1{
        width:600px;
        height: 800px;
    }
    .image2{
        width:600px;
        height: 760px;
       
    }
    .image3{
        width:600px ;
        height: 760px;
    }
    .image4{
        width:600px ;
        height: 800px;
    }
    .b1 {
        width: 300px;
        height: 4em;
        margin-left: 150px;
    }
} 


@media only screen and (max-width:479px) 
{
   
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: 10px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FBF0F4;
        z-index: 1;
        width: 26.5em;
        height: 15em;
        margin-left: -320px;
        border-radius: 10px;
    
      
    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 340px;
        margin-top: -50px;

        
        
    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 30px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 1.2em;
    }
    .body-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 82%;
    }
    .firsttext{
        font-size: 2em;
        margin-top: 50px;
        text-align: center;
    }
    .image1{
        width:350px ;
        height: 400px;
    }
    .image2{
        width:350px;
        height: 440px;
       
    }
    .image3{
        width:350px ;
        height: 440px;
    }
    .image4{
        width:350px ;
        height: 400px;
    }
    .imagetext{
        font-size: 1.7em;
    }
    .b1 {
        margin-left: 30px;
    }
}

@media only screen and (max-width:320px) 
{
   
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: 10px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FBF0F4;
        z-index: 1;
        width: 19em;
        height: 15em;
        margin-left: -253px;
        border-radius: 10px;
    
      
    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 270px;
        margin-top: -50px;

        
        
    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 30px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 1.2em;
    }
    .body-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 78%;
    }
    .firsttext{
        font-size: 1.5em;
        margin-top: 50px;
        text-align: center;
    }
    .imagetext{
        font-size: 2em;
        text-align: center;
    }
    .image1{
        width:250px;
        height: 400px;
    }
    .image2{
        width:250px;
        height: 310px;
       
    }
    .image3{
        width:250px ;
        height: 310px;
    }
    .image4{
        width:250px ;
        height: 400px;
    }
   
    .b1 {
        width: 200px;
        height: 2.5em;
        margin-left: 30px;
        
    }
}