* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#FBF0F4;
    
}

.logo {
    margin-top: 20px;
    margin-left: 50px;
    
    
}
.logo a {
    text-decoration: none;
    color: #612717;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 700px;
    margin-top: -20px;
    /* position: fixed;
    z-index: 100; */

}
.navvy {
    margin-top: 20px;
    
}
.main {
    display: flex;
    margin-top: 30px;

}
.navbar a {
    color: rgb(59, 2, 2);
    text-decoration: none;
    font-size: 18px;
    margin-top: -8px;
}
.navbar a:hover {
    color: deeppink;
   }

   /* .the-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}  */
 .the {
    font-size: 4em;
    color: #612717;
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* transform: translateX(100px);
    transition: 200ms;
    opacity: 0; */

 }
   .second{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
    overflow: hidden;
    /* margin-left: 80px; */
}
.third {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
    overflow: hidden;
    
    /* margin-left: 80px; */
}
.s1 {
    background-color: #612717;
    height: 13em;
    width: 35em;
    margin-left: 90px;
    margin-top: 50px;
    border-radius: 10px;
    color: #FBF0F4;
    padding: 1em; 
    transform: translateX(100px);
    transition: 1000ms;
    opacity: 0;
}
.s1.show{
    transform: translateX(0);
    opacity: 1;
}
.s1:hover {
    background-color: ghostwhite;
    color: #612717;
    box-shadow: 3px 3px 3px black;
    transition: 1000ms;
}
.s2 {
    background-color: #612717;
    height: 13em;
    width: 35em;
    margin-top: 50px;
    border-radius: 10px;
    color: #FBF0F4;
    padding: 1em; 
    transform: translateX(100px);
    transition: 1000ms;
    opacity: 0;
}
.s2.show{
    transform: translateX(0);
    opacity: 1;
}
.s2:hover {
    background-color: ghostwhite;
    color: #612717;
    box-shadow: 3px 3px 3px black;
    transition: 1000ms;
}
.s3 {
    background-color:#612717;
    height: 13em;
    width: 35em;
    margin-top: 50px;
    margin-left: 90px;
    border-radius: 10px;
    color: #FBF0F4;
    padding: 1em; 
    transform: translateX(100px);
    transition: 1000ms;
    opacity: 0;
}
.s3.show{
    transform: translateX(0);
    opacity: 1;
}
.s3:hover {
    background-color: ghostwhite;
    color: #612717;
    box-shadow: 3px 3px 3px black;
    transition: 1000ms;
}
.s4 {
    background-color: #612717;
    color: #FBF0F4;
    height: 13em;
    width: 35em;
    margin-top: 50px;
    border-radius: 10px;
    padding: 1em; 
    transform: translateX(100px);
    transition: 1000ms;
    opacity: 0;
}
.s4.show{
    transform: translateX(0);
    opacity: 1;
}
.s4:hover {
    background-color: ghostwhite;
    color: #612717;
    box-shadow: 3px 3px 3px black;
    transition: 1000ms;
}
.txt2 {
    text-align: center;
}
h6 {
    font-size: 15px;
}
.b4 {
    height: 4em;
    width: 20em;
    background-color: #612717;
    color: #FBF0F4;
    border: none;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 550px;
    
}
.b4:hover {
    background-color: ghostwhite;
    color: #612717;
    box-shadow: 3px 3px 3px black;
    transition: 1000ms;
}


.foot {
    background-color: rgb(51, 27, 10);
    height: 1em;
    width: auto;
    overflow: hidden;
    margin-top: 150px;
     
}

.foottxt{
    text-align: center;
    color: #FBF0F4;
}

.lg{
    display: none;
}


@media only screen and (max-width:991px) {
    .logo {
        margin-top: 20px;
        margin-left: 20px;
        padding-top: 15px; 
    }
    .logo a {
        text-decoration: none;
        color: #612717;
        font-size: 2em;
    }
    body {
        background-color: #FBF0F4;
    }

    .navbar a {
        display: none;
    }
    .navvy {
        margin-top: -20px;
     
    }
    
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: -1px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FBF0F4;
        z-index: 1;
        width:61em;
        height: 20em;
        margin-left: -843px;
        border-radius: 10px;    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 850px;
        margin-top: -50px;

    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 30px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 1.2em;
    }
    .main1 {
        display: block;
        margin-top: 10px;  
        

    }
     .the-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    } 
     .the {
        font-size: 4em;
        color: #612717;
        margin-left: 310px;
        margin-top: -10px;
        /* transform: translateX(100px);
        transition: 200ms;
        opacity: 0; */
    
     }

    .second{
        display: block;
        gap: 1rem;
        align-items: flex-start;
        overflow: hidden;

    }
    .third {
        display: block;
        gap: 1rem;
        align-items: flex-start;
        overflow: hidden;
    
    }
    .s1 {
        background-color: #612717;
        height: 15em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        color: #FBF0F4;
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s1.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s1:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s2 {
        background-color: #612717;
        height: 15em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        color: #FBF0F4;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s2.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s2:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s3 {
        background-color:#612717;
        height: 15em;
        width: auto;
        margin-top: 50px;
        margin-left: 0px;
        border-radius: 10px;
        color: #FBF0F4;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s3.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s3:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s4 {
        background-color: #612717;
        color: #FBF0F4;
        height: 15em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s4.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s4:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .txt2 {
        text-align: center;
        font-size: 2.3em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .t1 {
        font-size: 1.5em;
        margin-top: 20px;
        font-family: 'lucida sans';
        line-height: 35px;
        text-align: center;
       }
       .t2 {
        font-size: 1.5em;
        margin-top: 20px;
        font-family: 'lucida sans';
        line-height: 30px;
        text-align: center;
       }
       .t3 {
        font-size: 1.5em;
        margin-top: 12px;
        font-family: 'lucida sans';
        line-height: 30px;
        text-align: center;
       }
       .t4 {
        font-size: 1.5em;
        margin-top: 20px;
        font-family: 'lucida sans';
        line-height: 30px;
        text-align: center;
       }
    
    .b4 {
        height: 4em;
        width: 15em;
        background-color: #612717;
        color: #FBF0F4;
        border: none;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 350px;
        font-size: 1.2em;
    }
    .b4:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
    }
    
    
    .foot {
        background-color: rgb(51, 27, 10);
        height: 1.1em;
        width: auto;
        overflow: hidden;
        margin-top: 250px;
         
    }
    
    .foottxt{
        text-align: center;
        color: #FBF0F4;
        
    }
}
@media only screen and (max-width:767px) {
    .logo {
        margin-top: 20px;
        margin-left: 20px;
        padding-top: 15px; 
    }
    .logo a {
        text-decoration: none;
        color: #612717;
        font-size: 1.5em;
    }
    body {
        background-color: #FBF0F4;
    }

    .navbar a {
        display: none;
    }
    .navvy {
        margin-top: -20px;
     
    }
    
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: 8px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FBF0F4;
        z-index: 1;
        width: 47em;
        height: 15em;
        margin-left: -643px;
        border-radius: 10px;    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 650px;
        margin-top: -50px;

    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 30px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 1.2em;
    }
    .main1 {
        display: block;
        margin-top: 10px;  
        

    }
     .the-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    } 
     .the {
        font-size: 3.5em;
        color: #612717;
        margin-left: 260px;
        margin-top: -10px;
        /* transform: translateX(100px);
        transition: 200ms;
        opacity: 0; */
    
     }

    .second{
        display: block;
        gap: 1rem;
        align-items: flex-start;
        overflow: hidden;

    }
    .third {
        display: block;
        gap: 1rem;
        align-items: flex-start;
        overflow: hidden;
    
    }
    .s1 {
        background-color: #612717;
        height: 12em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        color: #FBF0F4;
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s1.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s1:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s2 {
        background-color: #612717;
        height: 12em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        color: #FBF0F4;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s2.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s2:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s3 {
        background-color:#612717;
        height: 12em;
        width: auto;
        margin-top: 50px;
        margin-left: 0px;
        border-radius: 10px;
        color: #FBF0F4;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s3.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s3:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s4 {
        background-color: #612717;
        color: #FBF0F4;
        height: 12em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s4.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s4:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .txt2 {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .t1 {
        font-size: 1em;
        margin-top: 10px;
        font-family: 'lucida sans';
        line-height: 30px;
        text-align: center;
       }
       .t2 {
        font-size: 1em;
        margin-top: 10px;
        font-family: 'lucida sans';
        line-height: 30px;
        text-align: center;
       }
       .t3 {
        font-size: 1em;
        margin-top: 10px;
        font-family: 'lucida sans';
        line-height: 25px;
        text-align: center;
       }
       .t4 {
        font-size: 1em;
        margin-top: 8px;
        font-family: 'lucida sans';
        line-height: 25px;
        text-align: center;
       }
   
    .b4 {
        height: 3em;
        width: 15em;
        background-color: #612717;
        color: #FBF0F4;
        border: none;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 250px;
    }
    .b4:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
    }
    
    
    .foot {
        background-color: rgb(51, 27, 10);
        height: 1em;
        width: auto;
        overflow: hidden;
        margin-top: 150px;
         
    }
    
    .foottxt{
        text-align: center;
        color: #FBF0F4;
    }
}

@media only screen and (max-width:479px) {
    .logo {
        margin-top: 20px;
        margin-left: 20px;
        padding-top: 15px; 
    }
    .logo a {
        text-decoration: none;
        color: #612717;
        font-size: 1.5em;
    }
    body {
        background-color: #FBF0F4;
    }
    .navbar {
       display: none;
       width: auto;
    
    }
    .navvy {
        margin-top: -20px;
     
    }
  
    
    .add {
        width: 100px;
        height: 50px;
        color: white;
        visibility: visible;
    }
    .box {
        width: 100px;
        height: 30px;
        color:#612717 ;
        float: left;
        align-items: center;
        margin-top: -6px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FBF0F4;
        z-index: 1;
        width: 25em;
        height: 15em;
        margin-left: -340px;
        border-radius: 10px;    
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 350px;
        margin-top: -50px;

    }
    .dropdown:hover  .dropdown-content {
        display: block;
        color: aliceblue;
    }
    ul a:hover {
        color:deeppink;
    }
    ul a {
        display: block;
        color: #612717;
        padding-top: 30px;
        padding-left: 40px;
        text-decoration: none;
        font-family: georgia;
        font-size: 1.2em;
    }
    .main1 {
        display: block;
        margin-top: 10px;  
        

    }
     .the-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    } 
     .the {
        font-size: 3em;
        color: #612717;
        margin-left: 90px;
        margin-top: -10px;
        /* transform: translateX(100px);
        transition: 200ms;
        opacity: 0; */
    
     }

    .second{
        display: block;
        gap: 1rem;
        align-items: flex-start;
        overflow: hidden;

    }
    .third {
        display: block;
        gap: 1rem;
        align-items: flex-start;
        overflow: hidden;
    
    }
    .s1 {
        background-color: #612717;
        height: 8em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        color: #FBF0F4;
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s1.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s1:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s2 {
        background-color: #612717;
        height: 8em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        color: #FBF0F4;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s2.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s2:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s3 {
        background-color:#612717;
        height: 8em;
        width: auto;
        margin-top: 50px;
        margin-left: 0px;
        border-radius: 10px;
        color: #FBF0F4;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s3.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s3:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .s4 {
        background-color: #612717;
        color: #FBF0F4;
        height: 8em;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
        border-radius: 10px;
        padding: 1em; 
        transform: translateX(100px);
        transition: 800ms;
        opacity: 0;
    }
    .s4.show{
        transform: translateX(0);
        opacity: 1;
    }
    .s4:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
        transition: 1000ms;
    }
    .txt2 {
        text-align: center;
        font-size: 1.2em;

    }
    .t1 {
        font-size: 0.7em;
        margin-top: 10px;
        font-family: 'lucida sans';
        line-height: 18px;
        text-align: center;
       }
       .t2 {
        font-size: 0.7em;
        margin-top: 8px;
        font-family: 'lucida sans';
        line-height: 18px;
        text-align: center;
       }
       .t3 {
        font-size: 0.7em;
        margin-top: 5px;
        font-family: 'lucida sans';
        line-height: 15px;
        text-align: center;
       }
       .t4 {
        font-size: 0.7em;
        margin-top: 8px;
        font-family: 'lucida sans';
        line-height: 15px;
        text-align: center;
       }
    h6 {
        font-size: 15px;
    }
    .b4 {
        height: 2.5em;
        width: 10em;
        background-color: #612717;
        color: #FBF0F4;
        border: none;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 120px;
    }
    .b4:hover {
        background-color: ghostwhite;
        color: #612717;
        box-shadow: 3px 3px 3px black;
    }
    
    
    .foot {
        background-color: rgb(51, 27, 10);
        height: 1em;
        width: 27em;
        overflow: hidden;
        margin-top: 150px;
         
    }
    
    .foottxt{
        text-align: center;
        color: #FBF0F4;
        
    }
}